/* 
  ORDER 
 1. Reset styles
 2.  PAGE INDEX             General styles.
 3.                         Header styles.
 4.                         Slider styles.
 5.                         Section "About-us".
 6.                         Section "Goals".
 7.                         Section Call styles.
 8.  PAGE HOW IT WORKS      Section header-img.
 9.                         Section how_it_work styles
 10.                        Section why_it_work styles
 11.                        Section business    styles   
 12. PAGE SOLUTIONS         Section classification styles
 13. PAGE WE-ARE            Section we-are styles
 14.                        Section clients styles
 15.                        Section partners styles
 16. PAGE HOW IT WORKS2     Section header-img.
 17. PAGE CONTACTS          Contacts.
 18. PAGE PORTFOLIO         portfolio-works
 19. PAGE SOLUTIONS2        clients-punkt-list
 20. PAGE SOLUTIONS2        simple-text section styles
 21. PAGE PORTFOLIO-WORK    portfolio-head__work styles
 22.                        wrap-buttons styles
*/
/* 1. Reset styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*2. General styles*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background: url(../i/markup/bg.png);
  font-family: 'Myriad Pro',Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #767676;
}
a {
  color: #767676;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 1250px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
  background: -webkit-linear-gradient(#bab8b8, #5e5d5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span {
  display: block;
  padding: 0 0 55px 0;
  background: url(../i/markup/bg-header.png) center bottom no-repeat;
  margin: 0 0 50px 0;
}
h2 {
  text-transform: uppercase;
}
input {
  border: none;
  outline: none;
}
.about-us, .how_it_work, .why_it_work, .business, .we-are, .clients, .partners {
  padding: 60px 0 0 0;
}
.grey {
  color: #767676 !important;
}
.call__btn button, .callback button {
    width: 421px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 107px;
    background: url(../i/markup/bg-btn.png) no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.9em;
    position: absolute;
    bottom: -65px;
    left: 16%;
}
.map-wrap {
  height: 330px;
}
.gradient {
  background: -webkit-linear-gradient(#666464, #c3c1c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*3.Header styles*/
header {
  height: 138px;
}
.top-header {
  padding: 8px 5px 0 5px;
  height: 72px;
  border-bottom-left-radius: 20px;
  background: #121212 url(../i/markup/bg-top-header.png) center bottom no-repeat;
  border-bottom-right-radius: 20px;
}
.wrap-logo {
    float: left;
}
.main-info {
  text-align: center;
  padding: 20px 0 0 0;
}
.main-info h2 {
  background: -webkit-linear-gradient(#9843DD, #675279);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 3px 0;
}
.main-info__os-list__item {
  display: inline-block;
  padding: 0 4px 0 4px;
}
.main-info__os-list__list--border {
  background: url(../i/markup/bg-main-info-os.png) center right no-repeat;
}
.main-info__os-list__link {
    font-size: 0.8em;
}
.wrap-contact {
  float: right;
  height: 90px;
}
.contact__item {
  display: block;
  text-align: right;
  line-height: 1.4em;
  font-size: 0.9em;
}
.main-menu {
  background: url(../i/markup/bg-main-menu.png) no-repeat;
  -webkit-background-size: 100%;
  height: 44px;
  width: 1200px;
}
.menu-wrapper {
    width: 100%;
    display: table;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    top: -9px;
}
.main-menu__list {
    display: table-row;
}
.main-menu__item {
    display: table-cell;
    float: none;
}
.main-menu__link {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}
.main-menu__link:hover, .main-menu__link--active {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-decoration: none;
  background: -webkit-linear-gradient(#666464, #9634e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-menu__link:hover:after, .main-menu__link.main-menu__link--active:after {
  background: url(../i/markup/bg-main-menu-hover.png) -17px -4px no-repeat;
}
.main-menu__link:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 47%;
  width: 20px;
  background: url(../i/markup/after-main-menu.png) no-repeat;
  height: 20px;}
/* 4.Slider styles */
.slideshow { 
    margin: 5px auto; 
    position: relative;
    height: 260px;
    width: 1250px;
    padding: 10px;  
}
.slideshow .item { 
    position: absolute;
}
.item__img {
  height: 270px;
  width: 1250px;
}
/* 5.Section "About-us"*/
.about-us p {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.3em;
}
/*6. Section "Goals"*/
.goals {
  min-height: 520px;
  margin: 50px 0 0 0;
  background: url(../i/markup/bg-goals.png) no-repeat;
  background-size: 100% 100%;
}
.goals .wrapper {
  background: url(../i/markup/bg-goals-wrapper.png) 0px 0px no-repeat;
  padding: 40px 0 0 0;
}
.left{
   float: left;
   margin-right: 10px;
   width: 305px;
   height: 470px;
   text-align: center;
}
.right{
   float: right;
   width: 305px;
   text-align: center;
}
.goals-image {
    height: 200px;
    width: 200px;
    background: url(../i/markup/sprite-goals.png) no-repeat;
    margin: 0 auto;
    margin-bottom: 10px;
}
.goals h3 {
  text-transform: uppercase;
  background: -webkit-linear-gradient(#666464, #9634e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3em;
}
.goals h4 {
  text-transform: uppercase;
  font-size: 1.3em;
}
.wrap-h3 {
  background: url(../i/markup/bg-goals-header.png) top center no-repeat;
  padding: 11px 0 0 0;
  margin: 0 0 3px 0;
}
.wrap-goal-text {
  margin: 0 auto;
  width: 268px;
  height: 135px;
  background: url(../i/markup/bg-text-block.png) no-repeat;
  margin: 30px auto 10px;
  padding: 0px;
}
.wrap-goal-text p {
  font-size: 0.9em;
  margin: 0px;
  text-align: justify;
  line-height: 1.2em;
  padding: 10px 15px;
}
.goals-image__analitic {
    background-position: -44px 0px;
}
.goals-image__project {
    background-position: -353px 0;
}
.goals-image__develop {
    background-position: -647px 0;
}
.goals-image__techno {
    background-position: -947px 0;
}
/*7. Section Call styles*/
.call {
    min-height: 420px;
    padding: 40px 0 0 0;
}
.call__text {
    width: 31%;
    float: left;
    background: url(../i/markup/bg-call-text.png) center no-repeat;
    height: 343px;
    padding: 20px 70px 20px 50px;
}
.call__text strong {
  text-transform: uppercase;
  color: #767676;
  font-size: 1.1em;
  padding: 25px 0;
  line-height: 1.2em;
  display: inline-block;
  background: url(../i/markup/bg-call-strong-divider.png) center bottom no-repeat;
}
.call__text p {
  font-size: 1.1em;
  color: #505050;
  padding: 20px 0 0 0;
}
.call__btn {
    width: 49%;  
    float: right;
    height: 343px;
    background: url(../i/markup/apple-icon.png) center top no-repeat;
    position: relative;
}
/*8. PAGE HOW IT WORKS Section header-img*/
.header-img .wrapper {
    background: url(../i/markup/header-img-bg.png) 82px 0px no-repeat;
}
.header-img .header-img__block {
  width: 100%;
  height: 328px;
  background: url(../i/img-31.png) top center no-repeat;
  margin: 0 auto;
  display: block;
}
/*9.Section how_it_work styles */
.work-details__item {
    float: left;
}
.work-details__item__wrap {
    width: 304px;
    height: 201px;
    position: relative;
    background: url(../i/markup/bg-works.png) no-repeat;
    margin-left: 78px;
}
.work-details__item__wrap.work-details__item__wrap--after {
    margin: 0 59px 40px 70px;
}
.work-details__item__wrap--after:after {
  content: " ";
  position: absolute;
  width: 49px;
  height: 29px;
  right: -49px;
  top: 43%;
  background: url(../i/markup/works-after-arrow.png) no-repeat;
}
.work-details__item__inner {
    padding: 10px 10px 0px 80px;
}
.work-details__item__inner:after {
  content: " ";
  width: 181px;
  height: 181px;
  position: absolute;
  left: -95px;
  top: 5%;
  background: url(../i/markup/sprite-principles.png) no-repeat;
}
.work-details__item__inner--logic:after {
  background-position: -200px 0px;
}
.work-details__item__inner--mockup:after {
  background-position: -421px 0px;
}
.work-details__item__inner--agrees:after {
  background-position: -636px 0px;
}
.work-details__item__inner--contract:after {
  background-position: -868px 0px;
}
.work-details__item__inner--development:after {
  background-position: -1114px 0px;
}
.work-details__item__inner--app:after {
  background-position: -1348px 0px;
}
.work-details__item__inner--release:after {
  background-position: -1594px 0px;
}
.work-details__item__inner--support:after {
  background-position: -1829px 0px;
}
.work-details__item__inner strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  color: #c7c7c7;
  margin: 0 0 10px 0;
  display: block;
}
.work-details__item__inner p, .why_it_work__head-text, .why_it_work__wrap-ul__list__item p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  color: #8f8e8e;
  line-height: 1.3em;
}
/*10.Section why_it_work styles */
.why_it_work__head-text {
  text-transform: uppercase;
  line-height: 1.5em;
  text-align: center;
  font-size: 1em;
}
.why_it_work__wrap-ul {
    margin: 50px 0;
}
.why_it_work__wrap-ul__list {
    width: 45%;
    display: inline-block;
    margin: 0 0 0 50px;
    vertical-align: top;
}
.why_it_work__wrap-ul__list__item {
    margin: 0 0 0px 0;
    min-height: 150px;
}
.why_it_work__wrap-ul__list__item h3 {
    color: #b32cd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.why_it_work__wrap-ul__list__item p {
    font-size: 1.1em;
}
/*11.Section business styles*/
.business-list-wrap {
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}
.business-list {
    width: 39%;
    margin: 0 67px;
    display: inline-block;
}
.business-list:first-child .business-list__item {
  text-align: right;
}
.business-list__item {
    margin: 15px 0;
    padding: 0 10px;
    position: relative;
}
.business-list__left-side .business-list__item:after {
  content: " ";
  position: absolute;
  right: -40px;
  top: 9%;
  width: 35px;
  height: 30px;
  background: url(../i/markup/sprite-business.png) 3px -1px no-repeat;
}
.business-list__right-side .business-list__item:before {
  content: " ";
  position: absolute;
  left: -40px;
  top: 0%;
  width: 35px;
  height: 30px;
  background: url(../i/markup/sprite-business.png) no-repeat;
}
.business-list__left-side .business-list__item__caffee:after {
    background-position: -38px 2px;
}
.business-list__left-side .business-list__item__saloon:after {
    background-position: -79px -2px;
}
.business-list__left-side .business-list__item__butiq:after {
    background-position: -116px -1px;
}
.business-list__left-side .business-list__item__optik:after {
    background-position: -154px -1px;
}
.business-list__left-side .business-list__item__avia:after {
    background-position: -197px -1px;
}
.business-list__left-side .business-list__item__shop:after {
    background-position: -248px -2px;
}
.business-list__left-side .business-list__item__smi:after {
    background-position: -293px -3px;
}
.business-list__left-side .business-list__item__mebel:after {
    background-position: -333px -1px;
}
.business-list__left-side .business-list__item__bank:after {
    background-position: -371px -1px;
}
.business-list__left-side .business-list__item__security:after {
    background-position: -414px -1px;
}
.business-list__right-side .business-list__item__tourist:before {
    background-position: 0px -37px;
}
.business-list__right-side .business-list__item__boul:before {
    background-position: -34px -37px;
}
.business-list__right-side .business-list__item__cinema:before {
    background-position: -70px -37px;
}
.business-list__right-side .business-list__item__sto:before {
    background-position: -109px -37px;
}
.business-list__right-side .business-list__item__goods:before {
    background-position: -145px -37px;
}
.business-list__right-side .business-list__item__flowers:before {
    background-position: -182px -37px;
}
.business-list__right-side .business-list__item__bar:before {
    background-position: -222px -37px;
}
.business-list__right-side .business-list__item__clean:before {
    background-position: -253px -37px;
}
.business-list__right-side .business-list__item__digit:before {
    background-position: -287px -37px;
}
.business-list__right-side .business-list__item__super:before {
    background-position: -321px -37px;
}
.business-list__right-side .business-list__item__distr:before {
    background-position: -363px -33px;
}
/*12. Section classification styles */
.classification {
  margin: 50px 0 ;
}
.classification-list {
    margin: 40px 0;
}
.classification-list__item {
    margin: 0 0 80px 0;
}
.classification-list__item__img {
    float: left;
    margin: 0 38px 0 0;
    position: relative;
}
.classification-list__item__text {
    font-size: 1.8em;
    line-height: 1.2em;
    width: 740px;
    margin: 40px 0 0 -100px;
    display: inline-table;
    background: url(../i/markup/bg-classification-text.png) no-repeat;
    height: 314px;
    padding: 0 50px 0 120px;
}
.classification-list__item__text span {
  vertical-align: middle;
  display: table-cell;
}
/*13. Section we-are styles*/
.we-are p {
    font-size: 1.2em;
  
    margin: 0 0 40px 0;
    padding: 0 50px;
}
/*14. Section clients styles*/
.clients-list {}
.clients-list__item {
    float: left;
    margin: 0 34px 20px 34px;
}
.clients-list__item__link {
    display: inline-block;
    width: 110px;
    height: 110px;
    background: url(../i/markup/sprite-clients.png) no-repeat;
}
.clients-list__item__link--spa {
    background-position: -9px -8px;
}
.clients-list__item__link--clever {
    background-position: -160px -8px;
}
.clients-list__item__link--three {
    background-position: -309px -8px;
}
.clients-list__item__link--roll {
    background-position: -459px -8px;
}
.clients-list__item__link--anti-taxi {
    background-position: -609px -8px;
}
.clients-list__item__link--taxi {
    background-position: -759px -8px;
}
.clients-list__item__link--key {
    background-position: -909px -8px;
}
.clients-list__item__link--twit {
    background-position: -9px -168px;
}
.clients-list__item__link--party {
    background-position: -159px -168px;
}
.clients-list__item__link--stone {
    background-position: -309px -168px;
}
.clients-list__item__link--gds {
    background-position: -459px -168px;
}
.clients-list__item__link--bedroom {
    background-position: -609px -168px;
}
.clients-list__item__link--numone {
    background-position: -909px -168px;
}
.clients-list__item__link--tax {
    background-position: -759px -168px;
}
.clients-list__item__link--spa:hover {
    background-position: -10px -321px;
}
.clients-list__item__link--clever:hover {
    background-position: -159px -321px;
}
.clients-list__item__link--three:hover {
    background-position: -309px -321px;
}
.clients-list__item__link--roll:hover {
    background-position: -459px -321px;
}
.clients-list__item__link--anti-taxi:hover {
    background-position: -609px -321px;
}
.clients-list__item__link--taxi:hover {
    background-position: -759px -321px;
}
.clients-list__item__link--key:hover {
    background-position: -909px -321px;
}
.clients-list__item__link--twit:hover {
    background-position: -9px -481px;
}
.clients-list__item__link--party:hover {
    background-position: -159px -481px;
}
.clients-list__item__link--stone:hover {
    background-position: -309px -481px;
}
.clients-list__item__link--gds:hover {
    background-position: -459px -481px;
}
.clients-list__item__link--bedroom:hover {
    background-position: -609px -481px;
}
.clients-list__item__link--numone:hover {
    background-position: -909px -481px;
}
.clients-list__item__link--tax:hover {
    background-position: -759px -481px;
}
/*15. Section partners styles*/
.partners-list {
    text-align: center;
    margin: 0 0 60px 0;
}
.partners-list__item {
    display: inline-block;
}
.partners-list__item__link {
    display: block;
}
/* 16. PAGE HOW IT WORKS2 Section header-img. */
.punkt-list {
    padding: 0 0 0 100px;
}
.punkt-list__item {
    margin: 0 0 40px 0;
}
.punkt-list__img {
    width: 196px;
    height: 196px;
    display: inline-block;
    background: url(../i/markup/sprite-works2.png) no-repeat;
}
.punkt-list__img__idea {
    background-position: 0px -3px;
}
.punkt-list__img__strat {
    background-position: -220px -3px;
}
.punkt-list__img__uxui {
    background-position: -451px -3px;
}
.punkt-list__img__support {
    background-position: -680px -3px;
}
.punkt-list__img__seo {
    background-position: -900px -3px;
}
.punkt-list__img__partner {
    background-position: -1147px -3px;
}
.punkt-list__wrap-text {
    display: inline-table;
    position: relative;
    vertical-align: 90px;
    background: url(../i/markup/bg-how-it-works2.png) no-repeat;
    width: 825px;
    height: 149px;
    margin: 0 0 0 20px;
}
.punkt-list__wrap-text p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    padding: 0 0 0 85px;
}
.punkt-list__link {
    position: absolute;
    top: 45px;
    text-transform: uppercase;
    right: 20px;
    font-size: 0.6em;
    color: #494747;
    text-align: center;
    width: 100px;
    padding: 0 0 10px 0;
    height: 50px;
    background: url(../i/markup/detail-link.png) 0px 13px no-repeat;
}
.punkt-list__link:hover {
  text-decoration: none;
} 
.punkt-list__item--inner {
    display: none;
}
.punkt-list__item--inner {
  background: url(../i/markup/bg-inner-list.png) no-repeat;
  margin: 0 92px 0 10px;
  height: 322px;
  padding: 100px 0 0;
  position: relative;
  top: -71px;
  left: -12px;
}
.punkt-list__item--inner__item {
    padding: 0 5px;
    list-style: disc;
    margin: 20px 40px 40px 60px;
    color: #a3a3a3;
}
.punkt-list__item--inner__item h4 {
    font-size: 1.3em;
    margin: 0 0 30px 0;
}
.punkt-list__item--inner__item p {
    color: #595959;
    font-size: 1em;
    font-style: italic;
}
/*17.Contacts.*/
.wrap-contacts-ul {
    display: inline-block;
    width: 45%;
}
.contacts-list {
    padding: 0 0 0 150px;
}
.contacts__item {
    font-size: 1.6em;
    line-height: 1.3em;
    color: #BEB2B2;
}
.contacts__item:nth-child(3) {
  margin: 0 0 40px 0;
}
.contact__item__email {
    display: inline;
    font-size: 1em;
}
.callback {
  background: url(../i/markup/bg-form-popup.png) no-repeat;
  width: 480px;
  height: 250px;
  position: relative;
  text-align: center;
  margin: 60px auto 60px;
}
.callback button {
    left: 75px;
    bottom: -45px;
    height: 91px;
    background-size: 100%;
    font-size: 1.5em;
    width: 343px;
}
.callback input {
  width: 442px;
  height: 60px;
  background: url(../i/markup/bg-input.png) no-repeat
;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  color: #676767;
}
/*18.portfolio-works*/
.portfolio-works {
  margin: 0 0 40px 0;
  background: url(../i/markup/bg-portfolio.png) top center no-repeat;
  background-size: 100% 100%;
  min-height: 350px;
}
.portfolio-works .wrapper{
  padding: 40px 60px;
  box-sizing: border-box;
}
.portfolio-head {
  margin: 30px 0 0 0; 
}
.portfolio-list {}
.portfolio-list__link {
    display: block;
}
.portfolio-list__link:hover {
  text-decoration: none;
}
.portfolio-list__item {
    float: left;
    margin: 0 70px 70px 0;
    position: relative;
    text-align: center;
    width: 327px;
    background: url(../i/markup/bg-portfolio-works.png) center center no-repeat;
    height: 415px;
    padding: 0 0 10px 0;
}
.portfolio-list__item:nth-child(3n) {
  margin: 0 0 20px 0;
}
.portfolio-list__item img {
    display: block;
    margin: 0 auto;
    padding: 12px 0 0 0;
    width: 296px;
    height: 358px;
}
.portfolio-list__item strong {
    display: block;
    margin: 50px 0 0 0;
    padding: 5px 0;
    text-transform: uppercase;
    background: url(../i/markup/bg-goals-header.png) center 6px no-repeat;
}
.portfolio-list__item strong span {
  background: -webkit-linear-gradient(#611b85, #9634e6);
  -webkit-background-clip: text;
  color: #9634e6;
  display: block;
  font-weight: 500;
  font-size: 1.5em;
}
.more-link {
  height: 89px;
  width: 427px;
  position: absolute;
  display: block;
  left: 33%;
  bottom: -18px;
  margin: 0px auto;
  text-transform: uppercase;
  text-align: center;
  background: url(../i/markup/bg-more-link.png) center center no-repeat;
  box-sizing: border-box;
  padding: 31px 0;
  color: #fff;
}
/*19 clients-punkt-list*/
.clients-punkt-list strong{
  font-size: 32px;
  text-transform: uppercase;
  color: #767676;
  padding: 0 0 30px 0;
  background: url(../i/markup/bg-line-solutions2.png) left bottom no-repeat;
  display: block;
}
.clients-punkt-list em {
  font-style: italic;
  font-size: 22px;
  margin: 30px 0 0 0;
  display: block;
}
.clients-punkt-list .punkt-list__wrap-text {
    height: 296px;
    background-size: 100% 100%;
    width: 563px;
    background: url(../i/markup/bg-solutions2-punkts.png) no-repeat;
}
.clients-punkt-list {
  padding: 0 0 0 20px;
}
.clients-punkt-list p {
  padding: 30px 0 0 30px;
  vertical-align: top;
}
.clients-punkt-list .punkt-list__item {
    display: inline-block;
    margin-right: 30px;
}
.clients-punkt-list .punkt-list__link {
    bottom: 13px;
    right: 41%;
    top: inherit;
}
.punkt-list__link--active {
  background: url(../i/markup/detail-link--active.png) center no-repeat;
}
.clients-link--inner {
    background-size: 100% 100%;
    width: 985px;
    height: 280px;
}
.clients-link--inner .punkt-list__item--inner__item {
    margin: 10px 40px;
}
.clients-link--inner .punkt-list__item--inner__item p {
  padding: 5px;
}
.clients-link--innner--left {
  background: url(../i/markup/bg-inner-list-left.png) no-repeat;
}
/*20. Secttion simple-text styles*/
.simple-text {
    margin: 0 0 50px 0;
}
.simple-text-wrap {}
.first {
    padding: 0 0 0 40px;
    margin: 0 0 20px 0;
    line-height: 1.3em;
}
.simple-text-wrap-list {
    padding: 0 0 0 130px;
}
.simple-text-wrap-item {
    list-style: disc;
    margin: 0 0 6px 0;
    line-height: 1.3em;
    text-align: left;
}
/*21. portfolio-head__work styles */
.portfolio-head__work {
  padding: 30px 0 0 0;
}
.portfolio-head__work span {
  text-transform: none;
}
/*22. wrap-buttons styles*/
.wrap-buttons {
  margin: 0 0 40px 0;
}
.available-btn {
    display: inline-block;
}
.available-btn span {
  display: block;
  text-align: left;
}
.available-btn img {
  width: 160px;
  height: 47px;
}
/*23. Footer styles*/
footer {
  background: url(../i/markup/bg-footer.png) repeat-y;
  height: 100px;
  padding: 40px 0 0 0;
}
.footer-logo {
    height: 105px;
    float: left;
    width: 170px;
}
footer .wrap-contact {
  padding: 15px 0 0 0;
  height: 60px;
  position: relative;
}
.footer-phone {
    position: absolute;
    left: -90px;
    top: 6px;
}
.footer-text {
    font-size: 0.8em;
}
.footer-menu {
    float: left;
    margin-left: 110px;
    padding: 10px 0 0 0;
}
.footer-menu__list {
    height: 90px;
    float: left;
    margin-right: 70px;
}
.footer-menu__item {
    list-style: disc;
    text-align: left;
}
.social-list {
    height: 70px;
    float: right;
    width: 300px;
    margin: 0 150px 0 0;
    padding: 15px 0 0 0;
}
.social-list__item {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.social-list__link {
    display: block;
    height: 50px;
    background: url(../i/markup/sprite-social.png) no-repeat;
}
.social-list__link--twitter {
    background-position: 0px -50px;
}
.social-list__link--vk {
    background-position: 0px -100px;
}
.social-list__link--facebook {
    background-position: 0px -150px;
}