/* 
  ORDER 
 1. Reset styles
 2. General styles.
 3. Header styles.
 4. Slider styles.
 5. Section "About-us".
*/
/* 1. Reset styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*2. General styles*/
body {
  background: url(../i/markup/bg.png);
  font-family: 'Myriad Pro',Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #767676;
}
.wrapper {
  width: 1250px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
}
/*3.Header styles*/
header {
  height: 145px;
}
/* 4.Slider styles */
.slideshow { 
    margin: 5px auto; 
    position: relative;
    height: 260px;
    width: 1250px;
    padding: 10px;  
}
.slideshow .item { 
    position: absolute;
}
.item__img {
  height: auto;
  width: 1250px;
}
/* 5.Section "About-us"*/
.about-us {
  padding: 60px 0 0 0;
}
.about-us h1 {
  padding: 0 0 55px 0;
  background: url(../i/markup/bg-header.png) center bottom no-repeat;
  margin: 0 0 50px 0;
}
.about-us p {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.3em;
}